<app-navbar></app-navbar>
<div class="container mx-auto d-flex justify-content-between p-0 row mt-5"
    *ngIf="userCartProducts.length > 0; else emptycart"
  >

  <div class="col-12 col-md-8  w-100 bg-light rounded">

    <div class="bg-li  px-3" *ngFor="let product of userCartProducts; let i = index" >
      <app-cart-product 
        [cartProduct]="product"
        (deleteItemEvent)="deleteFromCart($event)"
        (updateItemQuantityEvent)="updateCartItemQuantity(product.id, $event)"
      ></app-cart-product>
      <hr *ngIf="i < userCartProducts.length-1">
    </div>
  </div>

  <div class="col-12 p-0 m-0 col-md-3 w-100">
    <div class="px-3 py-3 mt-md-0 mt-sm-5 w-100 bg-light rounded">
      <div class="row px-4">
        <button [routerLink]="['/checkout']" class="mt-3 py-2 w-100 btn btn-primary">CHECKOUT</button>
      </div>
  
      <div class="row p-0 mt-4" *ngIf="userCartProducts">
        <div class="col-6 p-0 pl-3">
          Items ({{userCartProducts.length}}):
        </div>
        <div class="col-6 text-right pl-0" style="text-align: right;">
          $ {{totalPrice.toFixed(2)}}
        </div>
      </div>
      <div class="row  p-0  mt-1" *ngIf="userCartProducts">
        <div class="col-6 p-0 pl-3">
          Tax @ 0% </div>
        <div class="col-6  pl-0" style="text-align: right;">
          <span class="">
            $ 0.00
          </span>
        </div>
      </div>
      <hr>
        <div class="row  p-0  mt-1" *ngIf="userCartProducts">
          <div class="col-6 p-0 pl-3">
            Total ({{userCartProducts.length}}):
          </div>
          <div class="col-6 text-right pl-0" style="text-align: right;">
            <span>
              $ {{totalPrice.toFixed(2)}}
            </span>
          </div>
        </div>
    </div>
    <div class="row w-100 mt-5 mx-0 p-0">
      <button class="w-100 btn btn-warning" (click)="emptyCart()">Clear Cart</button>
      <!-- <button class="btn btn-danger" [routerLink]="['/home']">Back</button> -->
    </div>
  </div>




</div>
<ng-template #emptycart>
  <div class="container py-5 rounded h-100 bg-light my-5 text-center">
    <p class="h4 mx-auto my-auto">
      Nothing In Your Cart!
    </p>
    <button [routerLink]="['/home']" class="mt-5 px-5 btn btn-info">
      Go Back Home
    </button>
  </div>
</ng-template>