.card-img-tops {
    /* position: relative;
    justify-content: center;
    top:0;
    left: 10px; */
    width: 343px;
    height: auto;
}

.stock {
    position: absolute;
    left: 20px;
    top: 20px;
}

.in-stock {
    background-color: rgb(107, 134, 60);
    color: aliceblue;
}

.low-stock {
    background-color: gold;
}

.no-stock {
    background-color: crimson;
    color: aliceblue;
}

button {
    position: absolute;
    justify-content: right;

}