<div class="card" style="width: 18rem;">
  <div class = "parent" (click)="toProduct(productInfo.id, isLoggedIn)">
    <img class="card-img-top" [src]="productInfo.image" alt="Card image cap">
    <img class="featured" *ngIf="productInfo.featured" [src]="featuredBanner">
  </div>
  
  <div class="card-body" (click)="toProduct(productInfo.id, isLoggedIn)">
    <h5 class="card-title">{{productInfo.name}}</h5>
    <p class="card-text">{{productInfo.description}}</p>
  </div>
  
  <div class="input-group input-group-sm mb-3" (click)="toProduct(productInfo.id, isLoggedIn)">
    <div class="input-group-prepend">
      <span class="input-group-text" id="inputGroup-sizing-sm">$</span>
    </div>
    <input type="number" class="form-control" aria-label="Sizing example input" [value]="productInfo.price" aria-describedby="inputGroup-sizing-sm" disabled>
  </div>
  <div class="input-group input-group-sm mb-3" (click)="toProduct(productInfo.id, isLoggedIn)">
    <div class="input-group-prepend">
      <span class="input-group-text" id="inputGroup-sizing-sm">Quantity in Stock</span>
    </div>
    <input type="number" class="form-control" aria-label="Sizing example input" [value]="productInfo.quantity" aria-describedby="inputGroup-sizing-sm" disabled>
  </div>
  <div class="card-body" *ngIf="isLoggedIn">
      <button class="btn btn-outline-success" (click)="addToCart(productInfo)">Add to Cart</button>
  </div>
</div>
