<div class="card my-2 w-100" >
  <div class="w-100 text-center mx-auto" style="height: 15rem;">
    <!-- <img class=""  src="{{set.pack_image}}" alt="Card image cap"> -->
    <img class="card-img-top" style="height: 15rem;" [src]="productInfo.image" alt="Card image cap">
    <img class="card-img-overlay p-3" *ngIf="productInfo.featured" [src]="featuredBanner">
  </div>

  <hr>
  <div class="card-title px-3">
    
    <h5 class="card-title">{{productInfo.name}}</h5>
  </div>
  <div class="row card-text w-100 m-0 px-3">
    <p class="h6 text-left  pt-0">
      <span class="card-text mr-auto fw-bold p-2 text-muted">${{productInfo.price.toFixed(2)}} </span>
    </p>
  </div>
  
  <!-- <div class="col-6 input-group input-group-sm mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="inputGroup-sizing-sm">$</span>
    </div>

    <input type="number" class="form-control" aria-label="Sizing example input" [value]="productInfo.price" aria-describedby="inputGroup-sizing-sm" disabled>
  </div> -->
    
  <div class="card-body m-0 px-1" *ngIf="isLoggedIn">
    <div class="row w-100 m-0" *ngIf="!isInCart">
      <div class="col-5">
        <button (click)="updateQuantity(-1)" class="btn btn-outline-dark p-1 text-center  my-auto"
          style="min-width: 30px; height: 30px;">
          -
        </button>
        <span class="px-2 my-auto">{{quantity}}</span>
        <button (click)="updateQuantity(1)" class="btn btn-outline-dark p-1 text-center my-auto"
          style="min-width: 30px; height: 30px;">
          +
        </button>
       </div> 
      <div class="col-7">
        <button class="btn btn-outline-success  my-auto" (click)="addToCart(productInfo)">Add to Cart</button>
      </div>
    </div>

    <div class="row w-100 m-0" *ngIf="isInCart">

      <button (click)="removeFromCart()" class="mx-auto w-75 btn btn-outline-danger">Remove from Cart</button>

    </div>
    <div class="card-body">
      <button class="btn btn-outline-success" *ngIf="!isInWishList(productInfo)" (click)="addToWishList(productInfo)">Add to Wish List</button>
      <button class="mx-auto w-75 btn btn-outline-danger" *ngIf="isInWishList(productInfo)" (click)="removeFromWishList(productInfo)">Remove from Wish List</button>
  </div>

  </div>
</div> 

