<div class="card my-2 w-100" >
  <div class="w-100 text-center mx-auto" style="height: 15rem;" (click)="toProduct(productInfo.id, isLoggedIn)">
    <!-- <img class=""  src="{{set.pack_image}}" alt="Card image cap"> -->
    <img class="card-img-top" style="height: 15rem;" [src]="productInfo.image" alt="Card image cap">
      <img class="card-img-overlay p-3" *ngIf="productInfo.featured" [src]="featuredBanner">
      
  </div>

  <hr>
  <div class="card-title px-3 d-flex justify-content-between">
    
    <h5 class="card-title w-75 mt-2 pt-1">{{productInfo.name}}</h5>
    <div class="w-25" *ngIf="isLoggedIn">
      <button data-bs-toggle="tooltip" data-bs-placement="top" title="Add To Wish List" 
        class="p-0 pl-2 ml-auto btn border-0 btn-outline-success btn-success text-center" 
        style="font-size: 30px;width: 45px;height: 45px;" 
        *ngIf="!isInWishList(productInfo)" 
        (click)="addToWishList(productInfo)"
      ><i class="fa fa-solid fa-paw"></i>
      <span class="" style="position: relative;font-size: 12px;top: -19px;left: -7px;">+</span>
    </button>

      <button data-bs-toggle="tooltip" data-bs-placement="top" title="Remove From Wish List" 
        class="p-0  pl-2 ml-auto btn border-0 btn-danger btn-outline-danger" 
        style="font-size: 30px;width: 45px;height: 45px;" 
        *ngIf="isInWishList(productInfo)" 
        (click)="removeFromWishList(productInfo)"
      ><i class="fa fa-solid fa-paw"></i>
      <span class="" style="position: relative;font-size: 12px;top: -18px;left: -6px;">-</span>
      </button>

    </div>
  </div>
  <div class="row card-text w-100 m-0 px-3">
    <p class="h6 text-left  pt-0">
      <span class="card-text mr-auto fw-bold p-2 text-muted">${{productInfo.price.toFixed(2)}} </span>
    </p>
  </div>
  
  <!-- <div class="col-6 input-group input-group-sm mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="inputGroup-sizing-sm">$</span>
    </div>

    <input type="number" class="form-control" aria-label="Sizing example input" [value]="productInfo.price" aria-describedby="inputGroup-sizing-sm" disabled>
  </div> -->
    
  <div class="card-body row w-100 m-0 px-1" *ngIf="isLoggedIn">
    <div class="row w-100 m-0" *ngIf="!isInCart">
      <div class="row w-100 m-0" *ngIf="productInfo.quantity !== 0; else dangericon">
        <div class="col-5">
          <button (click)="updateQuantity(-1)" class="btn btn-outline-dark p-1 text-center  my-auto"
            style="min-width: 30px; height: 30px;">
            -
          </button>
          <span class="px-2 my-auto" >{{quantity}}</span>
          
          <button (click)="updateQuantity(1)" class="btn btn-outline-dark p-1 text-center my-auto"
            style="min-width: 30px; height: 30px;">
            +
          </button>
        </div>
        <div class="col-7">
          <button class="btn btn-outline-success  my-auto" (click)="addToCart(productInfo)">Add to Cart</button>
        </div>
      </div>
      <ng-template #dangericon>

        <div class="row w-100 m-0">
          <span class="mx-auto w-75 btn btn-dark" style="opacity:40%;cursor: not-allowed;">
            Out Of Stock
          </span>
        </div>
      </ng-template>
      </div>

    <div class="row w-100 m-0" *ngIf="isInCart">

      <button (click)="removeFromCart()" class="mx-auto w-75 btn btn-outline-danger">Remove from Cart</button>

    </div>


  </div>
</div> 

