<app-navbar></app-navbar>

<form id="change-password-form" [formGroup]="changePasswordForm">

    <div class="form-group">
      <label for="exampleInputEmail1">Email address</label>
      <input type="email" class="form-control" formControlName="email" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
      <small id="emailHelp" class="form-text text-muted">Ensure you enter the correct email</small>
    </div>

    <div class="form-group">
      <label for="exampleInputPassword1">Old Password</label>
      <input type="password" class="form-control" formControlName="oldPassword" id="exampleInputPassword1" placeholder="Current Password">
    </div>

    <div class="form-group">
        <label for="exampleInputPassword1">New Password</label>
        <input type="password" class="form-control" formControlName="newPassword" id="exampleInputPassword1" placeholder="New Password">
      </div>

    <button class="btn btn-primary" (click)="onChange()">Change</button>
    <button class="btn btn-primary" [routerLink]="['/home']">Back</button>
</form>
