<div class="container mt-5">
  <div class="row text-center mx-auto">

    <form id="login-form" class="col-md-4 mx-auto" [formGroup]="loginForm">
      <img src="../../../assets/images/rev-logo.png" width="300px" height="auto" alt="Revature">
      <div class="form-group mt-4 ">
        <label for="exampleInputEmail1">Email address</label>
        <input type="email" class="form-control" formControlName="email" id="exampleInputEmail1"
          aria-describedby="emailHelp" placeholder="Enter email">
        <small id="emailHelp" class="form-text text-muted text-left">Ensure you enter the correct email</small>
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input type="password" class="form-control" formControlName="password" id="exampleInputPassword1"
          placeholder="Password">
      </div>
      <div class="row d-flex justify-content-around">
        <div class="col w-50">
          <button class="btn w-100 btn-primary" (click)="onSubmit()">Login</button>
        </div>
        <div class="col w-50">
          <button class="btn w-100 btn-secondary" [routerLink]="['/register']">Register</button>
        </div>

      </div>
    </form>

  </div>
  <hr>

  <div class="container mt-5">
    <div class="col text-center title h5 mb-3">
      Featured Items
    </div>
    <div class="row m-0 d-flex justify-content-around text-center">
      <div class="col-lg-4 col-xl-3 mx-auto" *ngFor="let product of featuredProducts">
        <app-product-card class="mx-2" [productInfo]="product">
        </app-product-card>
      </div>
    </div>
    <div *ngIf="loginFail == true">Username or password incorrect</div>
    <button class="btn btn-primary"  [disabled]="!loginForm.valid" (click)="onSubmit()">Login</button>
    <button class="btn btn-primary" [routerLink]="['/register']">Register</button>
</form>
