<div class="row w-100 m-0 mt-3 p-0 p-3 pb-4 rounded bg-light">
  <p class="h5 mx-auto pb-3">
    Discovery
  </p>
  <div class="row w-100 m-0 p-0 d-flex justify-content-center">
    <!-- <a class="dropdown-item" [routerLink]="['/wishlist']"><i class="fa-solid fa-paw mr-3"></i> Wishlist</a> -->
    <div class="col-3 col-md-2 ">
      <a class="text-center w-100 discover-badge" [routerLink]="['/items']">
        <p class="m-0">
          <i class="fa-solid fa-paw discover-badge-icon" ></i>
        </p>
        <p class="m-0 description">
          <u>
            View Items
          </u>
        </p>
      </a>
    </div>

    <div class="col-3  col-md-2">
      <a class="text-center w-100 discover-badge" [routerLink]="['/wishlist']">
        <p class="m-0">
          <i class="fa-solid fa-paw discover-badge-icon" ></i>
        </p>
        <p class="m-0 description">
          <u>
            Wishlist
          </u>
        </p>
      </a>
    </div>

    <div class="col-3  col-md-2">
      <a class="text-center w-100 discover-badge" [routerLink]="['/wishlist']">
        <p class="m-0">
          <i class="fa fa-solid fa-wrench discover-badge-icon" ></i>
        </p>
        <p class="m-0 description">
          <u>
            Change Password
          </u>
        </p>
      </a>
    </div>

    <div class="col-3  col-md-2">
      <a class="text-center w-100 discover-badge" [routerLink]="['/wishlist']">
        <p class="m-0">
          <i class="fa-solid fa-right-from-bracket discover-badge-icon" ></i>
        </p>
        <p class="m-0 description">
          <u>
            Logout
          </u>
        </p>
      </a>
    </div>
    
  </div>
</div>